<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->   
    <typeAliases>    
       <typeAlias type="sist.com.dto.MemberBean" alias="member"/>    
       <typeAlias type="sist.com.dto.MovieBean" alias="movie"/>    
       <typeAlias type="sist.com.dto.MovieScheduleBean" alias="schedule"/>    
       <typeAlias type="sist.com.dto.BookingMovieBean" alias="booking"/>    
       <typeAlias type="sist.com.dto.ReviewBean" alias="review"/>    
       <typeAlias type="sist.com.dto.boardBean" alias="board"/>    
    </typeAliases> 
    <mappers>
      <!-- <mapper resource="sist/com/dao/apple-mapper.xml"/> -->
      <mapper resource="sist/com/dao/basic-mapper.xml"/>
    </mappers>
</configuration>






